<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% include 'header.njk' %}
    </header>
    <main>
        <h1>{{ title }}</h1>
        <img src="images/{{ coverImage }}" alt="{{ title }}">
        {% include 'byline-article.njk' %}
        <div class="article-text">
        <br><hr><br>
        {{ content | safe }}
        <br><hr><br>
        </div>
    </main>
</body>
</html>