---
title: "Category archive: music"
layout: "home.njk"
categories: "music"
author: "Chester Jankowski"
permalink: "/category/music/"
eleventyExcludeFromCollections: "true"
description: "All posts in the category: music."
---

<h3>{{ title }}</h3>

<br>

<ul class="post-list">

{% for post in collections.post | reverse %}

    {% if post.data.categories == 'music' %}

        <h2><li><a href="{{ post.url }}">{{ post.data.title }}</a></li></h2>

        <img src="/posts/images/{{ post.data.coverImage }}" alt="{{ post.data.title }}">

        {% include 'byline.njk' %}

        <br>

        {{ post.data.description }}

        <p></p>

    {% endif %}

{% endfor %}

</ul>

