---
pagination:
  data: collections
  size: 1
  alias: tag
layout: 'home.njk'
permalink: /tags/{{ tag | slugify }}/
---

<h2>Posts with the tag “{{ tag }}”</h2>

<br>

<ul class="post-list">

{% set taglist = collections[ tag ] %}

{% for post in taglist | reverse %}

 <h2><li><a href="{{ post.url }}">{{ post.data.title }}</a></li></h2>

{% include 'byline.njk' %}

{{ post.data.description }}

<p></p>

{% endfor %}

</ul>
